Data wrangling = extracting and cleaning, "data munching", data often incomplete and/or poorly formatted

get data from files, databases, or websites through web APIs (ex gov websites)
baseball http://www.SeanLahman.com/baseballarchives/statistics

most common formats: CSV, XML, JSON (Access database, SQL)
    filetype indicate how data is stored, not necessarily file extension (may just be .txt)
    CSV, series of rows plus header row
    XML, looks like HTML (kinda)
    JSON, uses objects indicated by curly brackers {}, looks like a python dict (key:value)

In [1]:
#CSV Data

import pandas as pd
baseball_data = pd.read_csv('baseball.csv') #load CSV into dataframe

#print (baseball_data.describe()) [wanted to check headers]

#print (baseball_data['birthYear']) [print one column]

#to create a new column from existing column's data:

baseball_data['height_plus_weight'] = baseball_data['height'] + baseball_data['weight']

#print (baseball_data['height_plus_weight']) [check that it worked]

#to create new CSV that includes new col/results:

baseball_data.to_csv('baseball_data_with_height_weight.csv')

#check to see if it worked
#baseball_data_with_height_weight = pd.read_csv('baseball_data_with_height_weight.csv')
#print (baseball_data_with_height_weight['height_plus_weight'])

#can also set parameters fo rnew file, check pandas documentation for more info

CSV Exercise

write a function that reads a csv located at 'path_to_csv' into dataframe and adds a new column called 'nameFull'

write data in dataframe to new csv at 'path_to_new_csv'

In [5]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    baseball_df = pd.read_csv(path_to_csv)
    baseball_df['nameFull'] = baseball_df['nameFirst'] + " " + baseball_df['nameLast']
    baseball_df.to_csv(path_to_new_csv)
    
# ^ this worked

if __name__ == "__main__":
    # For local use only
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # The dataset can be downloaded from this website: http://www.seanlahman.com/baseball-archive/statistics
    # We are using the file Master.csv 
    # (I'm using Players.csv here renamed to baseball.csv
    path_to_csv = "baseball.csv"
    path_to_new_csv = "baseball_CSV_exercise.csv"
    add_full_name(path_to_csv, path_to_new_csv)
    
# check to see if it worked

baseball_csv_exercise = pd.read_csv('baseball_CSV_exercise.csv')
print (baseball_csv_exercise['nameFull'])

# appears to have worked

0          David Aardsma
1             Hank Aaron
2           Tommie Aaron
3               Don Aase
4              Andy Abad
              ...
20365         Frank Zupo
20366       Paul Zuvella
20367    George Zuverink
20368     Dutch Zwilling
20369          Tony Zych
Name: nameFull, Length: 20370, dtype: object

Relational Databases

like a collection of spreadsheets (=table, not a 'spreadsheet' in database terms)

databases are straightforward to extract/filter data, scale well (millions of entries), ensures data has consistent format (all ages are int not int and str), reduce redundancy

schema, blueprint on how to store data (type, format, # of entries)
                                        
also define default values in case of missing data and if data type can/will be converted if it doesn't match defined type
                                        
SQL, etc. languages are used to to retrieve data from databases, ex: (SQL syntax)
                                        
    SELECT * FROM aadhaar_data;
                                        
to limit to just first 20 entries:
                        
    SELECT * FROM aadhaar_data LIMIT 20;
                                        
to limit to specific columns (order here matters):
                                        
    SELECT district, subdistrict FROM aadhaar_data;

In [6]:
# Write Simply Query
# select first 50 values for 'registrar' and 'enrolment_agency' from aadhaar_data (pandas dataframe)

import pandas as pd
import pandasql

def select_first_50(filename):
    aadhaar_data = pd.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace = True)
    
    q = """
    SELECT registrar, enrolment_agency
    FROM aadhaar_data
    LIMIT 50"""
    
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution
    #print(aadhaar_solution.describe())
    
#select_first_50('aadhaar_data.csv')

# had to hunt down the aadhaar_data.csv and install pandasql

         registrar             enrolment_agency
0   Allahabad Bank            Tera Software Ltd
1   Allahabad Bank            Tera Software Ltd
2   Allahabad Bank  Vakrangee Softwares Limited
3   Allahabad Bank  Vakrangee Softwares Limited
4   Allahabad Bank  Vakrangee Softwares Limited
5   Allahabad Bank  Vakrangee Softwares Limited
6   Allahabad Bank  Vakrangee Softwares Limited
7   Allahabad Bank  Vakrangee Softwares Limited
8   Allahabad Bank  Vakrangee Softwares Limited
9   Allahabad Bank  Vakrangee Softwares Limited
10  Allahabad Bank  Vakrangee Softwares Limited
11  Allahabad Bank  Vakrangee Softwares Limited
12  Allahabad Bank  Vakrangee Softwares Limited
13  Allahabad Bank  Vakrangee Softwares Limited
14  Allahabad Bank  Vakrangee Softwares Limited
15  Allahabad Bank  Vakrangee Softwares Limited
16  Allahabad Bank  Vakrangee Softwares Limited
17  Allahabad Bank  Vakrangee Softwares Limited
18  Allahabad Bank  Vakrangee Softwares Limited
19  Allahabad Bank  Vakrangee Softwares Limited
20  Allahabad Bank  Vakrangee Softwares Limited
21  Allahabad Bank  Vakrangee Softwares Limited
22  Allahabad Bank  Vakrangee Softwares Limited
23  Allahabad Bank  Vakrangee Softwares Limited
24  Allahabad Bank  Vakrangee Softwares Limited
25  Allahabad Bank  Vakrangee Softwares Limited
26  Allahabad Bank  Vakrangee Softwares Limited
27  Allahabad Bank  Vakrangee Softwares Limited
28  Allahabad Bank  Vakrangee Softwares Limited
29  Allahabad Bank  Vakrangee Softwares Limited
30  Allahabad Bank  Vakrangee Softwares Limited
31  Allahabad Bank  Vakrangee Softwares Limited
32  Allahabad Bank  Vakrangee Softwares Limited
33  Allahabad Bank  Vakrangee Softwares Limited
34  Allahabad Bank  Vakrangee Softwares Limited
35  Allahabad Bank  Vakrangee Softwares Limited
36  Allahabad Bank  Vakrangee Softwares Limited
37  Allahabad Bank  Vakrangee Softwares Limited
38  Allahabad Bank  Vakrangee Softwares Limited
39  Allahabad Bank  Vakrangee Softwares Limited
40  Allahabad Bank  Vakrangee Softwares Limited
41  Allahabad Bank  Vakrangee Softwares Limited
42  Allahabad Bank  Vakrangee Softwares Limited
43  Allahabad Bank  Vakrangee Softwares Limited
44  Allahabad Bank  Vakrangee Softwares Limited
45  Allahabad Bank  Vakrangee Softwares Limited
46  Allahabad Bank  Vakrangee Softwares Limited
47  Allahabad Bank  Vakrangee Softwares Limited
48  Allahabad Bank  Vakrangee Softwares Limited
49  Allahabad Bank  Vakrangee Softwares Limited